include ./mixins.jade

head
	meta(charset="utf-8")
	title Пять с плюсом

	meta(name="viewport" content="width=998")
	meta(name="format-detection" content="telephone=no")

	link(rel="shortcut icon" href="favicon.ico")

	link(rel="stylesheet" type="text/css" href="css/style.css")
		
	script(type="text/javascript" src="js/jquery-1.11.1.min.js")

	link(rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.5")
	script(type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js?v=2.1.5")

	script(type="text/javascript" src="js/slick.js")
	script(type="text/javascript" src="js/scripts.js")